<div class="conteiner-big-card">

  <div class="big-card-img">
    <img src="{{bigCardImg}}" alt="{{bigCardImgAlt}}" style="height: 12.5rem; width: 18.75rem;">
  </div>

  <div class="big-card-date">
    <p>{{bigCardDate}}</p>
  </div>

  <div class="big-card-post-title">
    <h1>
      <a [routerLink]="['content', id]">{{bigCardTitle}}</a>
    </h1>
  </div>

  <div class="big-card-post-desc">
    <p>
      <a [routerLink]="['content', id]"> {{bigCardDescription}}</a>
    </p>
  </div>

</div>
