<div class="conteiner-small-card">

  <div class="small-card-img">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt="image place holder" style="height: 6.5rem; width: fit-content;">
  </div>

  <div class="small-card-texts">

    <div class="small-card-date">
      <p>January 11, 2022</p>
    </div>

    <div class="small-card-post-title">
      <h1>
        <a href="#">Você gosta mais de pinga ou de buce**?</a>
      </h1>
    </div>

  </div>
</div>

<hr>
