<app-menu-title></app-menu-title>

<div class="articles">
  <div class="main-article">
    <app-big-card id="1" bigCardImg="https://i.pinimg.com/564x/e5/63/b7/e563b7005f806e37ba4bc05c719f1f8c.jpg"  bigCardImgAlt="Gato branco com sobrancelha curvada" bigCardDate="9 de Janeiro de 2023" bigCardTitle="Você é?" bigCardDescription="O gato bobinho pergunta com uma de suas sobrancelhas levantadas"></app-big-card>
  </div>
  <div class="sub-articles">
    <app-small-card id="2" smallCardImg="https://i.pinimg.com/564x/66/a2/a1/66a2a1ffeadeb022acfddd18fe061e6f.jpg" smallCardImgAlt="Gato frajola zoiudo" smallCardDate="10 de Outubro de 2022" smallCardTitle="Normalize ser consumido pelo ódio"></app-small-card>
    <app-small-card id="3" smallCardImg="https://i.pinimg.com/564x/0e/e6/6f/0ee66fe9108f17c50a091a337d669760.jpg" smallCardImgAlt="Gato nerd" smallCardDate="23 de Julho de 2023" smallCardTitle="Cientistas descobrem a cura para ser um bobinho"></app-small-card>
    <app-small-card id="4" smallCardImg="https://i.pinimg.com/564x/ce/2b/e2/ce2be21e97a5e266f1c90c9d5a1a408f.jpg" smallCardImgAlt="Gato triste" smallCardDate="31 de Agosto de 2023" smallCardTitle="Você é um gato solitário?"></app-small-card>
  </div>
</div>
